#searchDiv {
  float: left;
  width: 270px;
  margin-right: 50px;
}

#contentDiv {
  float: left;
  width: 520px;
}

#titleDiv {
  float: left;
}

#customDiv {
  float:none;
}

#addBtnDiv {
  float: right;
  margin-top: 14px;
}

i:hover {
  color: red;
}

.error-label {
  color: red;
  text-indent: 40px;
}